@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;

}
body.menu-open {
    overflow: scroll;
}

footer {
    margin-top: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.navUl{
    margin: 5px;
    float: right;
    margin-right: 20px;
}
.navUl li {
    display: inline-block;
    line-height: 80px;
    margin: 0 0px;
}
.navUl li:hover {
    background-image: linear-gradient(to bottom, #d4d4d4 0%, #d4d4d4 100%);
    transition: 0.5s;
}
.navUl li a{
    color: black;
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
    text-transform: uppercase;
}
.navUl li a.active{
    background: #d4d4d4;
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.gallery{
    width: 100%;
}
.gallery-container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    position: relative;
}
.gallery-item{
    object-fit: cover;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: auto;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}
.gallery-item-1{
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}
.gallery-item-2, .gallery-item{
    height: 250px;
    opacity: 0 0;
    z-index: 1;
}
.gallery-item-2{
    left: 30%;
    transform: translateX(-50%);
}
.gallery-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.gallery-item-4{
    left: 70%;
    transform: translateX(-50%);

}
.gallery-item-5{
    left: 85%;
    opacity: 4;
    transform: translateX(-50%);
}
.gallery-control{
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}
.gallery-control button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}
.gallery-control-button:focus{
    outline: none;
}
.gallery-control-previus{
    position: relative;
}
.gallery-control-previus::before{
    border: solid;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg)translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-control-previus:hover::before{
    left: -40%;
}
.gallery-control-next{
    position: relative;
}
.gallery-control-next::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.gallery-control-next:hover::before{
    right: -40%;
}
.gallery-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}
.gallery nav li{
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px ;
    width: 10px;
}
.gallery-nav li.gallery-item-selected{
    background:#555; 
}



.producto{
    height: min-content;
}

.boton{
    margin-bottom: 1rem;
}


#productos img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}


@media (max-width: 952px) {
    .navUl li a{
        font-size: 16px;
        
    }
}
@media (max-width: 858px) {
    .checkbtn{
        display: block;
    }
    .navUl{
        position: absolute;
        width: 98%;
        height: auto;
        background: #212e49; 
        top: 140px;
        left: -105%;
        text-align: center;
        transition: all .5s;
        border-radius: 5px;
    }
    .navUl li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navUl li a{
        font-size: 20px;
    }
    .navUl li a.hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~.navUl{
        left: 0;
    }
}
@media (max-width: 652px){
    .gallery-item{
        margin: auto;
        width: 85%;
        object-fit: cover;
    }
}