<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1a141f7f1f.js" crossorigin="anonymous"></script>

</head>

<body class="flex flex-col min-h-screen">
    <header class="bg-white w-full text-black px-4 pt-4">
        <a class="text-2xl" href="{{ url_for('auth.index') }}">Tienda Online</a>
        <nav class="items-center flex flex-row justify-between ">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars-staggered" style="color: #000000;"></i>
            </label>
            <ul class="navUl">
                <li class="btn btn-primary hover:bg-gray-300 lg:text-lg sm:text-base rounded transition "><a
                        href="#">Inicio</a></li>
                <li class="btn btn-primary hover:bg-gray-300 lg:text-lg sm:text-base rounded transition "><a
                        href="#">Categoría 1</a></li>
                <li class="btn btn-primary hover:bg-gray-300 lg:text-lg sm:text-base rounded transition "><a
                        href="#">Categoría 2</a></li>
                <li class="btn btn-primary hover:bg-gray-300 lg:text-lg sm:text-base rounded transition "><a
                        href="#">Categoría 3</a></li>
            </ul>
            <div class="flex flex-row justify-between items-center">
                {% if current_user.is_authenticated %}
                <div>
                    <a class="btn btn-primary flex flex-row items-center hover:bg-gray-300 p-0 md:p-7 lg:p-7 lg:text-lg sm:text-base rounded transition "
                        href="{{ url_for('auth.logout') }}">
                        <i class="fa-solid fa-right-from-bracket mx-4" style="color: #000000;"></i>Cerrar Sesion
                    </a>
                </div>
                <div>
                    <a class="btn btn-primary flex flex-row items-center hover:bg-gray-300 p-4 md:p-7 lg:p-7 lg:text-lg sm:text-base rounded transition "
                        href="{{ url_for('usuario.dashboard') }}">
                        <i class="fa-solid fa-user mx-3" style="color: #000000;"></i>
                        {% if current_user %}
                        <p>{{current_user.nombreUsuario}}</p>
                        {% endif %}
                    </a>
                </div>
                {% else %}
                <div>
                    <a class="btn btn-primary flex flex-row items-center hover:bg-gray-300 p-4 md:p-7 lg:p-7 lg:text-lg sm:text-base rounded transition "
                        href="{{ url_for('auth.register') }}">
                        <i class="m-1 mr-2 fa-solid fa-plus" style="color: #000000;"></i>Registro
                    </a>
                </div>
                <div>
                    <a class="btn btn-primary flex flex-row items-center hover:bg-gray-300 p-4 md:p-7 lg:p-7 lg:text-lg sm:text-base rounded transition "
                        href="{{ url_for('auth.login') }}">
                        <i class="m-1 mr-2 fas fa-user"></i>Iniciar Sesion
                    </a>
                </div>
                {% endif %}
                <div>
                    <a class="btn btn-primary flex flex-row items-center hover:bg-gray-300 p-4 md:p-7 lg:p-7 lg:text-lg sm:text-base rounded transition "
                        href="{{ url_for('carrito.index') }}">
                        <i class="fa-solid fa-cart-shopping mx-3" style="color: #000000;"></i>
                        <p class="hidden sm:contents md:contents lg:contents">Carrito</p>
                        <h1>
                            {% if cantidad_pedidos %}
                            <p class="m-2 rounded-xl py-0 px-1 bg-black text-white font-bold">{{ cantidad_pedidos }}</p>
                            {% else %}
                            <p class="m-2 rounded-xl py-0 px-1 bg-black text-white font-bold">0</p>
                            {% endif %}
                        </h1>
                    </a>
                </div>
            </div>

        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="mt-10 mx-5
                                {% if category == 'success' %}
                                bg-green-100 border border-green-400 text-green-700
                                {% elif category == 'error' %}
                                bg-red-100 border border-red-400 text-red-700
                                {% elif category == 'warning' %}
                                bg-yellow-100 border border-yellow-400 text-yellow-700
                                {% endif %}
                                px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">
            {% if category == 'success' %}
            Éxito:
            {% elif category == 'error' %}
            Error:
            {% elif category == 'warning' %}
            Error:
            {% endif %}
        </strong>
        <span class="block sm:inline">{{ message }}</span>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <main class="main w-full m-auto flex justify-center">
        <div class="flex lg:flex-row md:flex-row flex-col w-11/12 justify-between xl:flex-row">
            <div class="my-10  lg:w-4/6">
                {% for carrito in detalles_carritos %}
                {% for producto in carrito.productos %}
                <div class="flex flex-col lg:flex-row justify-center">
                    <div class="flex justify-center my-auto">
                        <!-- Aquí puedes mostrar la imagen del producto -->
                        <aside id="filtros"
                            class="mx-10 mt-10 md:w-max md:m-auto sm:w-max sm:m-auto flex flex-col items-center bg-gray-200 p-4 rounded-lg shadow">
                            <div class="w-64 h-64 max-w-80">
                                <img id="preview-image"
                                    src="{{ url_for('static', filename='images/productos/' + producto.imagen) }}"
                                    alt="Imagen">
                            </div>
                            <!-- Código para mostrar la imagen -->
                        </aside>
                    </div>
                    <div class="lg:w-full md:w-11/12 mx-auto my-3 p-5 bg-white rounded-lg shadow-lg">
                        <h1 class="text-2xl m-7">{{ producto.nombre }}</h1>
                        <!-- Aquí puedes mostrar los detalles del pedido -->
                        <section id="productos" class="lg:w-full p-5">
                            <div class="sm:col-span-4 pb-2">
                                <label for="cantidadProducto"
                                    class="block text-sm font-medium leading-6 text-gray-900">Cantidad del
                                    Producto</label>
                                <div class="mt-2">
                                    <form class="flex flex-row items-center" method="post" action="{{ url_for('carrito.editar_pedido', pedido_id=carrito.pedido.idPedido ) }}">
                                        <button type="submit" name="action" value="minus">
                                            <i class="fa-solid fa-minus px-4" style="color: #000000;"></i>
                                        </button>
                                        <p class="cantidadProducto">{{ producto.cantidad }}</p>
                                        <button type="submit" name="action" value="plus">
                                            <i class="fa-solid fa-plus px-4" style="color: #000000;"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <form class="flex flex-row justify-between" action="{{ url_for('carrito.eliminar_pedido', pedido_id=carrito.pedido.idPedido ) }}" method="POST">
                                <div class="sm:col-span-4 pb-2">
                                    <label class="block text-sm font-medium leading-6 text-gray-900">Precio Producto</label>
                                    <div class="mt-2">
                                        <div class="flex flex-row items-center">
                                            <p class="totalPagar">
                                                {{ producto.precio }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <button class="flex justify-center p-3 m-3 cursor-pointer bg-red-500 hover:bg-red-600 rounded-md font-medium hover:text-white transition-all focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-green-500" type="submit">
                                    Eliminar
                                </button>
                            </form>


                        </section>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>



            <div class="lg:w-2/6 w-full mt-10">
                <div class="w-11/12 py-10 m-auto px-5 bg-white rounded-lg shadow-lg ">
                    <h1 class="text-3xl m-7">Orden</h1>
                    <section id="productos" class="lg:w-full px-5">

                        <div class="sm:col-span-4 pb-2">
                            <p class="block text-sm font-medium leading-6 text-gray-900">{{ current_user.nombreUsuario }}</p>
                        </div>
                        <div class="sm:col-span-4 pb-2">
                            <p class="block text-sm font-medium leading-6 text-gray-900">
                                {{ current_user.direccion }} <br> {{ current_user.estado }} {{ current_user.ciudad }} {{ current_user.codigoPostal }}
                            </p>
                        </div>
                        <div class="sm:col-span-4 pb-2">
                            <h1 id="resultado" class="block text-sm leading-6 text-gray-900 font-bold">
                                <!-- Aquí va el total de la compra -->
                            </h1>
                        </div>
                    </section>
                    <div class="px-2">
                        
                        <h1 class="font-bold m-5">Metodos de Pago</h1>
                        {% if not current_user.paymentMethodForaneo %}
                        {% for metodo in metodos_Pago %}
                        <div class="flex flex-col">
                            <div class="flex flex-row">
                                <input type="radio" name="metodo_de_pago" value={{metodo.idPayment_method}}>
                                <p class="my-2 mx-3">{{ metodo.nombrePaymentMethod }}</p>
                            </div>
                            <div class="max-w-20">
                                <img src="{{ url_for('static', filename='images/paymet_methods/' + metodo.imagen) }}" alt="Imagen">
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="flex flex-col">
                            <div class="flex flex-row">
                                <input type="radio" name="metodo_de_pago" value={{metodo_usuario.idPayment_method}}>
                                <p class="my-2 mx-3">{{ metodo_usuario.nombrePaymentMethod }}</p>
                            </div>
                            <div class="max-w-20">
                                <img src="{{ url_for('static', filename='images/paymet_methods/' + metodo_usuario.imagen) }}" alt="Imagen">
                            </div>
                            <div class="mt-3">
                                <a class="text-cyan-500 underline" href="{{ url_for('usuario.payment_methods') }}">Otro? Actualiza tus metodos de pago</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="flex flex-col items-center my-3">
                        <a href="{{ url_for('orden.index') }}" class="w-1/2 h-1/4 flex justify-center p-3 m-3 cursor-pointer bg-green-100 text-green-600 rounded-md font-medium hover:text-green-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-green-500">
                            <p class=" text-base md:text-lg lg:text-xl">
                                Pagar
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>



    </main>
    <footer class="bg-gray-900 w-full text-white text-center py-4">
        <p>&copy; 2024 Tienda Online. Todos los derechos reservados.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // JavaScript para sumar los valores de las etiquetas <p> con la clase "totalPagar"
        var totalPagar = document.querySelectorAll('p.totalPagar');
        var cantidadProducto = document.querySelectorAll('p.cantidadProducto');
        var suma = 0;
    
        totalPagar.forEach(function(total, index) {
            var totalPagar = parseFloat(total.innerText.trim());
            var cantidad = parseInt(cantidadProducto[index].innerText.trim());
            if (!isNaN(totalPagar) && !isNaN(cantidad)) {
                suma += totalPagar * cantidad;
            }
        });
    
        // Mostrar el resultado dentro del elemento con id "resultado"
        document.getElementById("resultado").innerText = "Total a Pagar: " + suma.toFixed(2);
    </script>
    <script>
        function previewImage(event) {
            const preview = document.getElementById('preview-image');
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "{{ url_for('static', filename='images/placeholder.png') }}";
            }
        }
    </script>
</body>

</html>