<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1a141f7f1f.js" crossorigin="anonymous"></script>

</head>

<body class="flex flex-col min-h-screen">
    <header class="bg-white w-full text-black px-4 pt-4">
        <a class="text-2xl" href="{{ url_for('auth.index') }}">Tienda Online</a>
        <nav class="items-center flex flex-row justify-between ">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars-staggered" style="color: #000000;"></i>
            </label>
            <ul class="navUl">
                <li class="btn btn-primary hover:bg-gray-300 lg:text-lg sm:text-base rounded transition "><a
                        href="#">Inicio</a></li>
                <li class="btn btn-primary hover:bg-gray-300 lg:text-lg sm:text-base rounded transition "><a
                        href="#">Categoría 1</a></li>
                <li class="btn btn-primary hover:bg-gray-300 lg:text-lg sm:text-base rounded transition "><a
                        href="#">Categoría 2</a></li>
                <li class="btn btn-primary hover:bg-gray-300 lg:text-lg sm:text-base rounded transition "><a
                        href="#">Categoría 3</a></li>
            </ul>
            <div class="flex flex-row justify-between items-center">
                {% if current_user.is_authenticated %}
                <div>
                    <a class="btn btn-primary flex flex-row items-center hover:bg-gray-300 p-4 md:p-7 lg:p-7 lg:text-lg sm:text-base rounded transition "
                        href="{{ url_for('auth.logout') }}">
                        <i class="fa-solid fa-right-from-bracket mx-4" style="color: #000000;"></i>Cerrar Sesion
                    </a>
                </div>
                <div>
                    <a class="btn btn-primary flex flex-row items-center hover:bg-gray-300 p-4 md:p-7 lg:p-7 lg:text-lg sm:text-base rounded transition "
                        href="{{ url_for('usuario.dashboard') }}">
                        <i class="fa-solid fa-user mx-3" style="color: #000000;"></i>
                        {% if current_user %}
                        <p>{{current_user.nombreUsuario}}</p>
                        {% endif %}
                    </a>
                </div>
                {% else %}
                <div>
                    <a class="btn btn-primary flex flex-row items-center hover:bg-gray-300 p-4 md:p-7 lg:p-7 lg:text-lg sm:text-base rounded transition "
                        href="{{ url_for('auth.register') }}">
                        <i class="m-1 mr-2 fa-solid fa-plus" style="color: #000000;"></i>Registro
                    </a>
                </div>
                <div>
                    <a class="btn btn-primary flex flex-row items-center hover:bg-gray-300 p-4 md:p-7 lg:p-7 lg:text-lg sm:text-base rounded transition "
                        href="{{ url_for('auth.login') }}">
                        <i class="m-1 mr-2 fas fa-user"></i>Iniciar Sesion
                    </a>
                </div>
                {% endif %}
                <div>
                    <a class="btn btn-primary flex flex-row items-center hover:bg-gray-300 p-4 md:p-7 lg:p-7 lg:text-lg sm:text-base rounded transition "
                        href="">
                        <i class="fa-solid fa-cart-shopping mx-3" style="color: #000000;"></i>
                        <p class="hidden sm:contents md:contents lg:contents">Carrito</p>
                    </a>
                </div>
            </div>

        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="mt-10 mx-5
                                {% if category == 'success' %}
                                bg-green-100 border border-green-400 text-green-700
                                {% elif category == 'error' %}
                                bg-red-100 border border-red-400 text-red-700
                                {% elif category == 'warning' %}
                                bg-yellow-100 border border-yellow-400 text-yellow-700
                                {% endif %}
                                px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">
            {% if category == 'success' %}
            Éxito:
            {% elif category == 'error' %}
            Error:
            {% elif category == 'warning' %}
            Error:
            {% endif %}
        </strong>
        <span class="block sm:inline">{{ message }}</span>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <main class="main w-full">
        <article class="slider w-full h-full overflow-hidden">
            <div class="gallery sm:m-auto lg:m-auto md:m-auto xl:m-auto ">
                <div class="gallery-container max-w-screen-lg ">
                    <img class="gallery-item gallery-item-1"
                        src="{{ url_for('static', filename='images/adidasestrellas.jpg') }}" alt="">
                    <img class="gallery-item gallery-item-2"
                        src="{{ url_for('static', filename='images/airforceone.jpg') }}" alt="">
                    <img class="gallery-item gallery-item-3"
                        src="{{ url_for('static', filename='images/airjordan.jpg') }}" alt="">
                    <img class="gallery-item gallery-item-4"
                        src="{{ url_for('static', filename='images/allOrNothing.jpg') }}" alt="">
                    <img class="gallery-item gallery-item-5"
                        src="{{ url_for('static', filename='images/nike-shoes-sale.jpg') }}" alt="">
                    <img class="gallery-item gallery-item-6"
                        src="{{ url_for('static', filename='images/puma20years.jpg') }}" alt="">
                    <img class="gallery-item gallery-item-7"
                        src="{{ url_for('static', filename='images/pumauntied.png') }}" alt="">
                    <img class="gallery-item gallery-item-8"
                        src="{{ url_for('static', filename='images/superstar.jpg') }}" alt="">
                </div>
            </div>
        </article>

        <div class="mt-16 mb-16 flex flex-col lg:flex-row justify-between flex-1">


            <aside id="filtros"
                class="mx-10 mt-10 md:mt-5 md:mx-3 bg-gray-200 p-4 rounded-lg shadow {% if current_user.es_administrador==1 %} h-full {% else %} {% endif %}">

                <div class="mb-4">
                    <label for="categoria" class="block font-bold mb-1">Categoría:</label>
                    <select id="categoria" class="w-full px-4 py-2 border rounded-lg">
                        <option value="todas">Todas</option>
                        <option value="categoria1">Categoría 1</option>
                        <option value="categoria2">Categoría 2</option>
                        <option value="categoria3">Categoría 3</option>
                    </select>
                </div>
                <div>
                    <label for="orden" class="block font-bold mb-1">Orden:</label>
                    <select id="orden" class="w-full px-4 py-2 border rounded-lg">
                        <option value="alfabetico">Alfabético</option>
                        <option value="precio-asc">Precio Menor a Mayor</option>
                        <option value="precio-desc">Precio Mayor a Menor</option>
                    </select>
                </div>
            </aside>
            <div class="flex flex-col">
                <a class="mx-auto my-5 text-center text rounded-md bg-indigo-600 px-3 py-2 text-sm md:text-lg lg:text-xl font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                    href="{{ url_for('producto.add') }}">
                    <p class="px-20 py-5 text-2xl md:text-xl md:px-16 md:py-2 lg:text-lg lg:px-8 lg:py-0">
                        NuevoProducto!
                    </p>
                </a>
            </div>
            <div class="w-full mr-38">
                <h1 class="text-3xl m-7">Zapatillas Nike</h1>
                <section id="productos" class="lg:w-full flex flex-wrap justify-around">
                    <!-- Aquí se mostrarán los productos -->
                    {% for producto in productos %}
                    <div class="producto w-64 bg-white rounded-lg shadow p-4 text-center m-4">
                        <img src="{{ url_for('static', filename='images/productos/' + producto.nombreImagen) }}"
                            alt="{{ producto.nombreProducto }} class=" w-48 h-48 mx-auto rounded-full">
                        <h3 class="mt-4">{{ producto.nombreProducto }}</h3>
                        <p>{{ producto.precioProducto }}$</p>
                        <button class="boton bg-blue-500 text-white px-4 py-2 rounded-md mt-2 hover:bg-blue-600">Agregar
                            al
                            carrito</button>
                    </div>
                    {% endfor %}






                    <!-- Repite el mismo formato para otros productos -->
                </section>
            </div>
        </div>



    </main>
    <footer class="bg-gray-900 w-full text-white text-center py-4">
        <p>&copy; 2024 Tienda Online. Todos los derechos reservados.</p>
    </footer>
    <script src="{{ url_for('static', filename='dist/js/script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>