<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">    
    <script src="https://kit.fontawesome.com/1a141f7f1f.js" crossorigin="anonymous"></script>

</head>

<body class="flex flex-col min-h-screen">
    <header class="bg-white w-full text-black px-4 pt-4">
        <h1 class="text-2xl">Tienda Online</h1>
        <nav class="items-center flex flex-row justify-between">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars-staggered" style="color: #000000;"></i>
            </label>
            <ul class="navUl">
                <li class=""><a href="#">Inicio</a></li>
                <li class=""><a href="#">Categoría 1</a></li>
                <li class=""><a href="#">Categoría 2</a></li>
                <li class=""><a href="#">Categoría 3</a></li>
                <li><a href="#">Carrito</a></li>
            </ul>
            <div>
                <a class="btn btn-primary hover:bg-gray-300 p-7 rounded transition " href="#">
                    <i class="m-1 mr-2 fas fa-user"></i>Iniciar Sesion
                </a>
            </div>
        </nav>
    </header>

    <main class="w-full">
        <article class="slider w-full h-full overflow-hidden">
            <div class="gallery sm:m-auto lg:m-auto md:m-auto xl:m-auto ">
                <div class="gallery-container max-w-screen-lg ">
                    <img class="gallery-item gallery-item-1"
                        src="{{ url_for('static', filename='images/adidasestrellas.jpg') }}" alt="">
                    <img class="gallery-item gallery-item-2"
                        src="{{ url_for('static', filename='images/airforceone.jpg') }}" alt="">
                    <img class="gallery-item gallery-item-3"
                        src="{{ url_for('static', filename='images/airjordan.jpg') }}" alt="">
                    <img class="gallery-item gallery-item-4"
                        src="{{ url_for('static', filename='images/allOrNothing.jpg') }}" alt="">
                    <img class="gallery-item gallery-item-5"
                        src="{{ url_for('static', filename='images/nike-shoes-sale.jpg') }}" alt="">
                    <img class="gallery-item gallery-item-6"
                        src="{{ url_for('static', filename='images/puma20years.jpg') }}" alt="">
                    <img class="gallery-item gallery-item-7"
                        src="{{ url_for('static', filename='images/pumauntied.png') }}" alt="">
                    <img class="gallery-item gallery-item-8"
                        src="{{ url_for('static', filename='images/superstar.jpg') }}" alt="">
                </div>
            </div>
        </article>

        <div class="mt-16 mb-16 flex flex-col lg:flex-row justify-between flex-1">
            <aside id="filtros" class="mr-10 ml-10 lg:w-1/4 bg-gray-200 p-4 rounded-lg shadow mb-4 lg:mb-0">
                <h2 class="mb-4">Filtros</h2>
                <div class="mb-4">
                    <label for="categoria" class="block font-bold mb-1">Categoría:</label>
                    <select id="categoria" class="w-full px-4 py-2 border rounded-lg">
                        <option value="todas">Todas</option>
                        <option value="categoria1">Categoría 1</option>
                        <option value="categoria2">Categoría 2</option>
                        <option value="categoria3">Categoría 3</option>
                    </select>
                </div>
                <div>
                    <label for="orden" class="block font-bold mb-1">Orden:</label>
                    <select id="orden" class="w-full px-4 py-2 border rounded-lg">
                        <option value="alfabetico">Alfabético</option>
                        <option value="precio-asc">Precio Menor a Mayor</option>
                        <option value="precio-desc">Precio Mayor a Menor</option>
                    </select>
                </div>
            </aside>
            <div class="w-full mr-38">
                <h1 class="text-3xl m-7">Zapatillas Nike</h1>
                <section id="productos" class="lg:w-full flex flex-wrap justify-around">
                    <!-- Aquí se mostrarán los productos -->
                    <div class="producto w-64 bg-white rounded-lg shadow p-4 text-center m-4">
                        <img src="{{ url_for('static', filename='images/calzado-air-max-90-2ZsM2w.png') }}"
                            alt="Producto 1" class="w-48 h-48 mx-auto rounded-full">
                        <h3 class="mt-4">Nike Air Max 90</h3>
                        <p>Precio: $XX</p>
                        <button class="boton bg-blue-500 text-white px-4 py-2 rounded-md mt-2 hover:bg-blue-600">Agregar
                            al
                            carrito</button>
                    </div>
                    <div class="producto w-64 bg-white rounded-lg shadow p-4 text-center m-4">
                        <img src="{{ url_for('static', filename='images/zapatillas-dunk-low-nino-a-hDjLTp.png') }}"
                            alt="Producto 1" class="w-48 h-48 mx-auto rounded-full">
                        <h3 class="mt-4">Nike SB Dunk Niño</h3>
                        <p>Precio: $XX</p>
                        <button class="boton bg-blue-500 text-white px-4 py-2 rounded-md mt-2 hover:bg-blue-600">Agregar
                            al
                            carrito</button>
                    </div>
                    <div class="producto w-64 bg-white rounded-lg shadow p-4 text-center m-4">
                        <img src="{{ url_for('static', filename='images/nike-dunk-low-black-white-panda.png') }}"
                            alt="Producto 1" class="w-48 h-48 mx-auto rounded-full">
                        <h3 class="mt-4">Nike SB Dunk Panda Low</h3>
                        <p>Precio: $XX</p>
                        <button class="boton bg-blue-500 text-white px-4 py-2 rounded-md mt-2 hover:bg-blue-600">Agregar
                            al
                            carrito</button>
                    </div>
                    <div class="producto w-64 bg-white rounded-lg shadow p-4 text-center m-4">
                        <img src="{{ url_for('static', filename='images/air-jordan-1-retro-high-og-sp-travis-scott-fragment-military-blue.png') }}"
                            alt="Producto 1" class="w-48 h-48 mx-auto rounded-full">
                        <h3 class="mt-4">Nike Air Max 90</h3>
                        <p>Precio: $XX</p>
                        <button class="boton bg-blue-500 text-white px-4 py-2 rounded-md mt-2 hover:bg-blue-600">Agregar
                            al
                            carrito</button>
                    </div>
                    <!-- Repite el mismo formato para otros productos -->
                </section>
            </div>
        </div>



    </main>
    <footer class="bg-gray-900 w-full text-white text-center py-4">
        <p>&copy; 2024 Tienda Online. Todos los derechos reservados.</p>
    </footer>
    <script src="{{ url_for('static', filename='/dist/js/script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Función para filtrar productos según las opciones seleccionadas
            function filtrarProductos() {
                // Obtener valores seleccionados de los filtros
                var categoria = $("#categoria").val();
                var orden = $("#orden").val();

                // Filtrar productos según categoría
                if (categoria !== "todas") {
                    $(".producto").hide();
                    $("." + categoria).show();
                } else {
                    $(".producto").show();
                }

                // Ordenar productos según opción seleccionada
                if (orden === "alfabetico") {
                    $(".producto").sort(function (a, b) {
                        return $(a).find("h3").text().localeCompare($(b).find("h3").text());
                    }).appendTo("#productos");
                } else if (orden === "precio-asc") {
                    $(".producto").sort(function (a, b) {
                        return parseFloat($(a).find("p").text().replace("Precio: $", "")) - parseFloat($(b).find("p").text().replace("Precio: $", ""));
                    }).appendTo("#productos");
                } else if (orden === "precio-desc") {
                    $(".producto").sort(function (a, b) {
                        return parseFloat($(b).find("p").text().replace("Precio: $", "")) - parseFloat($(a).find("p").text().replace("Precio: $", ""));
                    }).appendTo("#productos");
                }
            }

            // Evento para filtrar productos al cambiar opciones de los filtros
            $("#categoria, #orden").change(function () {
                filtrarProductos();
            });

            // Inicializar filtrado de productos
            filtrarProductos();
        });
    </script>
    <script>
        $(document).ready(function () {
            
            // Función para abrir y cerrar el menú desplegable
            function toggleMenu() {
                $('body').toggleClass('menu-open');
                $('.slider').toggleClass('slider-move-out');             
            }

            // Evento para abrir y cerrar el menú al hacer clic en el icono de hamburguesa
            $('.checkbtn').click(function () {
                toggleMenu();
            });

            // Evento para cerrar el menú al hacer clic en un enlace del menú
            $('.navUl li a').click(function () {
                toggleMenu();
            });
        });
    </script>
</body>

</html>